<div class="row">
  <div class="col-md-4">
    <h1>
      Hello, <%= @user.name %>!
    </h1>
    <div class="media">
       <% if @user.avatar? %>
         <%= image_tag @user.avatar.url, class: 'img-circle' %>
       <% end %>
     </div>
    <p>Rigth now you're a <strong><%= current_user.role %></strong> member. Would you like to change that?</p>
    <p>Click the button below to toggle your role from premium to standard and vice-versa. <%= button_to "Upgrade account", user_toggle_role_path(current_user), method: :post, class: 'btn btn-success' %></p>
  <hr>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <h3>All my Wikis:</h3>
      <ul class="list-group bloc-index">
        <% @wikis.each do |w| %>
          <li><%= link_to w.title, wiki_path(w.id)  %></li>
        <% end %>
      </ul>

  </div>
</div>


